.content
  %h1 Geocerca 2015

  =link_to coordinates_path, class:"button-success pure-button" do
    =fa_icon "bicycle"
    ="Ver posiciones bicicleta"

  =link_to  geocerca_path, class:"button-warning pure-button", target: "blank" do
    =fa_icon "crosshairs"
    ="insertar geocerca"