/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body{
    background: #eee;
}

a,a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #8b3214;
}

.content{
    background: #ffffff;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 2%;
    align-content: center;
    display: block;
    -webkit-box-shadow: 2px 6px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 5px -4px rgba(0,0,0,0.75);
    height: 98%;
    margin-top: 10px ;
    margin-bottom: 10px;

}

.content table{
    margin: 0 auto;
}
